/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

.masthead {
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  bottom: -20px;
  top: -20px;
}

.colophon p {
  font-size: 0.8em;
}

.post-date {
  display: inline;
  margin: 0;
}

.related {
  padding: 20px 0 40px;
  border: solid #eee;
  border-width: 1px 0;
}

.comments {
  padding: 20px 0 40px;
}
