<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <!-- add 'layout-reverse' class to switch layout -->
  <body class="theme-base-0d">

    <header class="masthead">
      <div class="masthead-inner">
        <h1><a href="/">{{ site.title }}</a></h1>
        <p class="lead">{{ site.description }}</p>

        <div class="colophon">
          <ul class="colophon-links">
            <li><a href="https://twitter.com/{{site.author.username}}">Twitter</a></li>
            <li><a href="https://linkedin.com/in/{{site.author.username}}">LinkedIn</a></li>
            <li><a href="https://github.com/{{site.author.username}}">GitHub</a></li>
            <li><a href="/public/docs/Marcus Ellis - Resume.pdf">R&eacute;sum&eacute;</a></li>
          </ul>
          <p>&copy; 2014. {{ site.author.name }} All rights reserved.</p>
        </div>
      </div>
    </header>

    <div class="content container">
      {{ content }}
    </div>

    <script type="text/javascript">
      (function() {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>
  </body>
</html>
